body {
    overflow: hidden;
}

div {
    margin-top: 10px;
}

.error {
    animation-duration: 0.5s;
    animation-name: popup;
    color: red;
}

@keyframes popup {
    from {
        margin-top: 20px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.error-hide {
    animation-duration: 0.5s;
    animation-name: popdown;
    color: red;
}

@keyframes popdown {
    to {
        margin-top: 20px;
        opacity: 0;
    }
}
.info {
    color: green;
}

#apple-pay-button {
  background-color: white;
  background-image: -webkit-named-image(apple-pay-logo-black);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% calc(60% + 2px);
  border-radius: 5px;
  border: 1px solid black;
  box-sizing: border-box;
  height: 30px;
  margin: 5px auto;
  min-height: 30px;
  min-width: 100px;
  padding: 0px;
  transition: background-color .15s;
  width: 70%;
}
